USE [master]
GO
/****** Object:  Database [AA_DH]    Script Date: 06-06-2021 19:37:00 ******/
CREATE DATABASE [AA_DH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AA_DH', FILENAME = N'C:\Users\kapil\AA_DH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AA_DH_log', FILENAME = N'C:\Users\kapil\AA_DH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE SQL_Latin1_General_CP1_CI_AS
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AA_DH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AA_DH]
GO
USE [AA_DH]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 06-06-2021 19:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ProductVersion] [nvarchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model_Commodity]    Script Date: 06-06-2021 19:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model_Commodity](
	[Date] [date] NULL,
	[Contract] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Price] [decimal](18, 2) NULL,
	[Position] [smallint] NULL,
	[NewTradeAction] [smallint] NULL,
	[PnLDaily] [decimal](18, 2) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Model1_Commodity1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Model_Commodity] ON 

INSERT [dbo].[Model_Commodity] ([Date], [Contract], [Price], [Position], [NewTradeAction], [PnLDaily], [Id], [Type]) VALUES (CAST(N'2018-01-02' AS Date), N'MAR 18', CAST(31495.72 AS Decimal(18, 2)), 1, 0, CAST(15183.69 AS Decimal(18, 2)), 45, N'Model1_Commodity1')
INSERT [dbo].[Model_Commodity] ([Date], [Contract], [Price], [Position], [NewTradeAction], [PnLDaily], [Id], [Type]) VALUES (CAST(N'2018-01-03' AS Date), N'MAR 18', CAST(31346.34 AS Decimal(18, 2)), 1, 1, CAST(15380.51 AS Decimal(18, 2)), 46, N'Model1_Commodity1')
INSERT [dbo].[Model_Commodity] ([Date], [Contract], [Price], [Position], [NewTradeAction], [PnLDaily], [Id], [Type]) VALUES (CAST(N'2018-01-04' AS Date), N'MAR 18', CAST(31295.87 AS Decimal(18, 2)), 2, 0, CAST(30908.38 AS Decimal(18, 2)), 47, N'Model1_Commodity1')
GO
SET IDENTITY_INSERT [dbo].[Model_Commodity] OFF
USE [master]
GO
